<a href="https://colab.research.google.com/github/luisedchaf/tesis/blob/main/Cafiot_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2     # llamadas a bases de datod SQL
!pip install pygresql

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)
Collecting pygresql
  Downloading PyGreSQL-5.2.2.tar.gz (268 kB)
     |████████████████████████████████| 268 kB 7.3 MB/s
Building wheels for collected packages: pygresql
  Building wheel for pygresql (setup.py) ... done
  Created wheel for pygresql: filename=PyGreSQL-5.2.2-cp37-cp37m-linux_x86_64.whl size=162523 sha256=fbe21519a916f6f5bcc9f7f903cb32b9b3432381cb67c8db1e070c72570e6fa7
  Stored in directory: /root/.cache/pip/wheels/fe/9d/57/f55396a23381ca1f64ec297aeb50d854c5c9f9eae850dc2a8e
Successfully built pygresql
Installing collected packages: pygresql
Successfully installed pygresql-5.2.2

In [2]:
import psycopg2        # llama a la libreria

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
import pandas as pd
def run_query(query=''):
  DB_HOST = '192.68.185.26' 
  DB_USER = 'inv_luis_eduardo' 
  DB_PASS = '12345678*aA' 
  DB_NAME = 'cafiot' 
  conexion = psycopg2.connect(host=DB_HOST, database=DB_NAME, user=DB_USER, password=DB_PASS)
  df = pd.read_sql(query,conexion)  # data frame
  conexion.close()
  return df

In [6]:
consulta = """
--SELECT valor1, fecha, topic, s.nombre, key, observacion, color, valor_max, valor_min, tm.nombre, um.nombre
SELECT AVG(valor1)
FROM mediciones AS m 
INNER JOIN sensores AS s
ON s.id = m.id_sensor 
INNER JOIN tipos_mediciones AS tm 
ON tm.id = s.id_tipo_medicion
INNER JOIN unidades_medidas AS um 
ON tm.id_und_medida = um.id
--WHERE key = 'd3e889f0-de68-49f7-ad4e-027440a5068d' --lluvia
WHERE key = 'c9478c82-081b-4cbc-b296-107b971d3a18' -- Temperatura
AND fecha BETWEEN '2021/06/24 17:00:00' AND '2021/06/24 17:01:00'
GROUP BY key
"""
run_query(consulta)

    avg
0  17.9

In [13]:

consulta = """
SELECT valor1, fecha, topic, s.nombre, key, observacion, color, valor_max, valor_min, tm.nombre, um.nombre
FROM mediciones AS m 
INNER JOIN sensores AS s
ON s.id = m.id_sensor 
INNER JOIN tipos_mediciones AS tm 
ON tm.id = s.id_tipo_medicion
INNER JOIN unidades_medidas AS um 
ON tm.id_und_medida = um.id
--WHERE key = 'd3e889f0-de68-49f7-ad4e-027440a5068d' --lluvia
WHERE key = 'c9478c82-081b-4cbc-b296-107b971d3a18' -- Temperatura --TMAX TMIN TMED
AND fecha BETWEEN '2021/06/24 17:00:00' AND '2021/06/24 18:01:00'
"""
DATA = run_query(consulta)

# Este es un titulo

In [12]:
DATA.shape

valor1                                                      17.9
fecha                                 2021-06-24 17:00:05.055000
topic          LOMA_GORDA/Zona_Riego/c9478c82-081b-4cbc-b296-...
nombre                                      Temperatura Ambiente
key                         c9478c82-081b-4cbc-b296-107b971d3a18
observacion          Temperatura ambiente estación meteorológica
color                                                    #ac6662
valor_max                                                     70
valor_min                                                    -10
nombre                                      Temperatura ambiente
nombre                                                        °C
Name: 1, dtype: object